<div class="sign-up">
  <form action="http://impactgeneration.us3.list-manage.com/subscribe/post?u=74b20903e6b5f8a100e8d59e9&amp;id=fd552c9748" method="post" target="_blank">
    <div class="row" data-equalizer>
      <div class="small-12 medium-6 medium-offset-2 columns" data-equalizer-watch>
        <p><%= t 'footer.sign_up' %></p>
        <input type="email" name="EMAIL" placeholder="<%= t 'footer.email' %>">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_74b20903e6b5f8a100e8d59e9_fd552c9748" value=""></div>
      <div class="small-12 medium-2 columns end text-right" data-equalizer-watch>
        <input type="submit" class="button radius" value="<%= t 'footer.submit' %>">
      </div>
    </div>
  </form>
</div>

<footer>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%= partial 'impact_name' %>
    </div>
    <div class="small-12 medium-4 columns text-right small-only-text-center">
      <%= image_tag 'logo-white.png', alt: "IMPACT generation", class: 'impact-logo' %>
    </div>
  </div>
</footer>
